In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [2]:
endangered_species = pd.read_csv('../data/ESA.csv')
endangered_species

,NUMBER,UNIT_NAME,STATE,NPS REGION,NPCA REGION,COMMON NAME,SPECIES,TAXA,STATUS
0,1,Abraham Lincoln Birthplace National Historical...,KY,Southeast,Southeast,Gray bat,Myotis grisescens,Mammals,Endangered
1,2,Acadia National Park,ME,Northeast,Northeast,Northern Long-Eared Bat,Myotis septentrionalis,Mammals,Threatened
2,3,Acadia National Park,ME,Northeast,Northeast,Green sea turtle,Chelonia mydas,Reptiles,Endangered; Threatened
3,4,Acadia National Park,ME,Northeast,Northeast,Leatherback sea turtle,Dermochelys coriacea,Reptiles,Endangered
4,5,Acadia National Park,ME,Northeast,Northeast,Finback whale,Balaenoptera physalus,Mammals,Endangered
...,...,...,...,...,...,...,...,...,...
1443,1444,Zion National Park,UT,Intermountain,Southwest,Mexican spotted owl,Strix occidentalis lucida,Birds,Threatened
1444,1445,Zion National Park,UT,Intermountain,Southwest,Shivwits milk-vetch,Astragalus ampullarioides,Flowering Plants,Endangered
1445,1446,Zion National Park,UT,Intermountain,Southwest,Siler pincushion cactus,"Pediocactus (=Echinocactus,=Utahia) sileri",Flowering Plants,Threatened
1446,1447,Zion National Park,UT,Intermountain,Southwest,Virgin River Chub,Gila seminuda (=robusta),Fishes,Endangered
1447,1448,Zion National Park,UT,Intermountain,Southwest,Woundfin,Plagopterus argentissimus,Fishes,Endangered; Experimental

In [3]:
endangered_species.columns

Index(['NUMBER', 'UNIT_NAME', 'STATE', 'NPS REGION', 'NPCA REGION',
       'COMMON NAME', 'SPECIES', 'TAXA', 'STATUS'],
      dtype='object')

In [4]:
endangered_species.shape

(1448, 9)

In [5]:
endangered_species.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1448 entries, 0 to 1447
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   NUMBER       1448 non-null   object
 1   UNIT_NAME    1448 non-null   object
 2   STATE        1448 non-null   object
 3   NPS REGION   1448 non-null   object
 4   NPCA REGION  1448 non-null   object
 5   COMMON NAME  1425 non-null   object
 6   SPECIES      1448 non-null   object
 7   TAXA         1448 non-null   object
 8   STATUS       1448 non-null   object
dtypes: object(9)
memory usage: 101.9+ KB

### Cleaning up the columns/names

In [6]:
endangered_species = endangered_species.drop(columns = ['NUMBER','NPCA REGION'])

In [7]:
endangered_species

,UNIT_NAME,STATE,NPS REGION,COMMON NAME,SPECIES,TAXA,STATUS
0,Abraham Lincoln Birthplace National Historical...,KY,Southeast,Gray bat,Myotis grisescens,Mammals,Endangered
1,Acadia National Park,ME,Northeast,Northern Long-Eared Bat,Myotis septentrionalis,Mammals,Threatened
2,Acadia National Park,ME,Northeast,Green sea turtle,Chelonia mydas,Reptiles,Endangered; Threatened
3,Acadia National Park,ME,Northeast,Leatherback sea turtle,Dermochelys coriacea,Reptiles,Endangered
4,Acadia National Park,ME,Northeast,Finback whale,Balaenoptera physalus,Mammals,Endangered
...,...,...,...,...,...,...,...
1443,Zion National Park,UT,Intermountain,Mexican spotted owl,Strix occidentalis lucida,Birds,Threatened
1444,Zion National Park,UT,Intermountain,Shivwits milk-vetch,Astragalus ampullarioides,Flowering Plants,Endangered
1445,Zion National Park,UT,Intermountain,Siler pincushion cactus,"Pediocactus (=Echinocactus,=Utahia) sileri",Flowering Plants,Threatened
1446,Zion National Park,UT,Intermountain,Virgin River Chub,Gila seminuda (=robusta),Fishes,Endangered
1447,Zion National Park,UT,Intermountain,Woundfin,Plagopterus argentissimus,Fishes,Endangered; Experimental

In [8]:
endangered_species = endangered_species.rename(columns = {'UNIT_NAME':'Park Name','STATE':'State', 'NPS REGION':'NPS Region', 'COMMON NAME':'Common Name','SPECIES':'Species','TAXA':'Taxa','STATUS':'Status'})

In [9]:
endangered_species

,Park Name,State,NPS Region,Common Name,Species,Taxa,Status
0,Abraham Lincoln Birthplace National Historical...,KY,Southeast,Gray bat,Myotis grisescens,Mammals,Endangered
1,Acadia National Park,ME,Northeast,Northern Long-Eared Bat,Myotis septentrionalis,Mammals,Threatened
2,Acadia National Park,ME,Northeast,Green sea turtle,Chelonia mydas,Reptiles,Endangered; Threatened
3,Acadia National Park,ME,Northeast,Leatherback sea turtle,Dermochelys coriacea,Reptiles,Endangered
4,Acadia National Park,ME,Northeast,Finback whale,Balaenoptera physalus,Mammals,Endangered
...,...,...,...,...,...,...,...
1443,Zion National Park,UT,Intermountain,Mexican spotted owl,Strix occidentalis lucida,Birds,Threatened
1444,Zion National Park,UT,Intermountain,Shivwits milk-vetch,Astragalus ampullarioides,Flowering Plants,Endangered
1445,Zion National Park,UT,Intermountain,Siler pincushion cactus,"Pediocactus (=Echinocactus,=Utahia) sileri",Flowering Plants,Threatened
1446,Zion National Park,UT,Intermountain,Virgin River Chub,Gila seminuda (=robusta),Fishes,Endangered
1447,Zion National Park,UT,Intermountain,Woundfin,Plagopterus argentissimus,Fishes,Endangered; Experimental

### Keeping only rows with the title 'National Park'

In [10]:
for index, row in endangered_species.iterrows():  
    if row['Park Name'].find('National Park') == -1:
        endangered_species.drop(index, inplace = True)

In [11]:
endangered_species = endangered_species.reset_index(drop = True)
endangered_species

,Park Name,State,NPS Region,Common Name,Species,Taxa,Status
0,Acadia National Park,ME,Northeast,Northern Long-Eared Bat,Myotis septentrionalis,Mammals,Threatened
1,Acadia National Park,ME,Northeast,Green sea turtle,Chelonia mydas,Reptiles,Endangered; Threatened
2,Acadia National Park,ME,Northeast,Leatherback sea turtle,Dermochelys coriacea,Reptiles,Endangered
3,Acadia National Park,ME,Northeast,Finback whale,Balaenoptera physalus,Mammals,Endangered
4,Arches National Park,UT,Intermountain,Colorado pikeminnow (=squawfish),Ptychocheilus lucius,Fishes,Endangered
...,...,...,...,...,...,...,...
529,Zion National Park,UT,Intermountain,Mexican spotted owl,Strix occidentalis lucida,Birds,Threatened
530,Zion National Park,UT,Intermountain,Shivwits milk-vetch,Astragalus ampullarioides,Flowering Plants,Endangered
531,Zion National Park,UT,Intermountain,Siler pincushion cactus,"Pediocactus (=Echinocactus,=Utahia) sileri",Flowering Plants,Threatened
532,Zion National Park,UT,Intermountain,Virgin River Chub,Gila seminuda (=robusta),Fishes,Endangered
533,Zion National Park,UT,Intermountain,Woundfin,Plagopterus argentissimus,Fishes,Endangered; Experimental